# Ignore Mac Resource Fork
.DS_Store

# Ignore Vim Temporary File
*.swp

# Ignore Compiled
target/
build/

## But not to omit target folder
!C/target/README.md
!C++/target/README.md
!Java/target/README.md
!Kotlin/target/README.md
!Swift/target/README.md

# Ignore Log & Configuration
config/
logs/
